node-red/vacuum-multi-room-flow.json
[{"id":"4a5eae6cde0e8640","type":"server-state-changed","z":"3c1aa04e.9eeee","name":"","server":"4d76286c.8c34c8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_number.vacuum_clean_area"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":1420,"wires":[["f26033005d2a3e3e","6dc0577a273a6cdb","e7ef3df0ca1b3e58"]]},{"id":"748e3e95158f7b87","type":"function","z":"3c1aa04e.9eeee","name":"function 3","func":"let hodnota = parseFloat(msg.payload).toFixed(0);;\nlet seznam = global.get(\"clean_rooms\") || [];\nif (!seznam.includes(hodnota)) {\n    seznam.push(hodnota);\n}\nglobal.set(\"clean_rooms\", seznam);\nmsg.payload = global.get(\"clean_rooms\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1480,"wires":[[]]},{"id":"f26033005d2a3e3e","type":"switch","z":"3c1aa04e.9eeee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1420,"wires":[["786212129acbccd2"]]},{"id":"5a8f565cde253abb","type":"server-state-changed","z":"3c1aa04e.9eeee","name":"","server":"4d76286c.8c34c8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_number.vacuum_clean_area"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":1540,"wires":[["98203ca21955e3d5"]]},{"id":"98203ca21955e3d5","type":"function","z":"3c1aa04e.9eeee","name":"function 7","func":"let seznam = global.get(\"clean_rooms\") || [];\n// Ověříme, zda je seznam pole a má aspoň jeden prvek\nif (!Array.isArray(seznam) || seznam.length === 0) {\n    return null; // Zastaví flow\n}\nmsg.seznam = seznam;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1540,"wires":[["e715dafd2b5d2068"]]},{"id":"e715dafd2b5d2068","type":"api-call-service","z":"3c1aa04e.9eeee","name":"","server":"4d76286c.8c34c8","version":7,"debugenabled":false,"action":"roborock.vacuum_clean_segment","floorId":[],"areaId":[],"deviceId":[],"entityId":["vacuum.bobik"],"labelId":[],"data":"{\"segments\": seznam}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"roborock","service":"vacuum_clean_segment","x":740,"y":1540,"wires":[["c9d1138d3db5e191"]]},{"id":"c9d1138d3db5e191","type":"function","z":"3c1aa04e.9eeee","name":"Clean variable","func":"global.set(\"clean_rooms\", []);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1540,"wires":[["c5144ee7a7579572"]]},{"id":"786212129acbccd2","type":"switch","z":"3c1aa04e.9eeee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1420,"wires":[["e12da3ae15f10311"]]},{"id":"e12da3ae15f10311","type":"switch","z":"3c1aa04e.9eeee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":1420,"wires":[["748e3e95158f7b87"]]},{"id":"c5144ee7a7579572","type":"api-call-service","z":"3c1aa04e.9eeee","name":"","server":"4d76286c.8c34c8","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.vacuum_clean_area"],"labelId":[],"data":"{\"value\": 99}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":850,"y":1600,"wires":[[]]},{"id":"4d76286c.8c34c8","type":"server","name":"matata_ha","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartb
